In [3]:
import pandas as pd
import numpy as np
import json
import glob, os, subprocess
import matplotlib.pyplot as plt

summarized_df = pd.read_csv('/home/kin672/gentb-summer22/Creating Summaries from Relevant Files/7-18 Output/summarized_full_7-18.csv', usecols = [1, 2, 3, 4, 5])

In [4]:
summarized_df['Total Isolates'] = summarized_df['Number of Resistant Strains'] + summarized_df['Number of Susceptible Strains']

In [5]:
summarized_df

,Drug,Lineage,Percentage of Strains that are Resistant,Number of Resistant Strains,Number of Susceptible Strains,Total Isolates
0,amk,1,0.0,0,1,1
1,amk,1.1,0.0,0,1,1
2,amk,1.1.1,0.0,0,3,3
3,amk,"1.1.1,4.9",0.0,0,1,1
4,amk,1.1.1.1,0.0,0,3,3
...,...,...,...,...,...,...
2218,str,5,0.0,0,1,1
2219,str,6,0.0,0,1,1
2220,str,"6,BOV_AFRI",0.0,0,4,4
2221,str,BOV_AFRI,0.0,0,20,20
2222,str,NaN,0.0,0,8,8

In [6]:
# All of the individual lineages
all_lineages = summarized_df.loc[:, 'Lineage'].str.split(',', expand=True)
all_lineages = all_lineages.rename(columns = {0: 'Lineage 1', 1: 'Lineage 2', 2: 'Lineage 3', 3:'Lineage 4', 4:'Lineage 5', 5:'Lineage 6', 6:'Lineage 7', 7:'Lineage 8', 8:'Lineage 9'})
all_lineages

,Lineage 1,Lineage 2,Lineage 3,Lineage 4,Lineage 5,Lineage 6,Lineage 7,Lineage 8,Lineage 9
0,1,None,None,None,None,None,None,None,None
1,1.1,None,None,None,None,None,None,None,None
2,1.1.1,None,None,None,None,None,None,None,None
3,1.1.1,4.9,None,None,None,None,None,None,None
4,1.1.1.1,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
2218,5,None,None,None,None,None,None,None,None
2219,6,None,None,None,None,None,None,None,None
2220,6,BOV_AFRI,None,None,None,None,None,None,None
2221,BOV_AFRI,None,None,None,None,None,None,None,None
2222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Get the number of lineages
summarized_df['Number_of_Lineages'] = pd.Series()
for index, row in all_lineages.iterrows():
    summarized_df.at[index, 'Number_of_Lineages'] = len(row.unique()) - 1
summarized_df

/tmp/ipykernel_22883/3575801309.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  summarized_df['Number_of_Lineages'] = pd.Series()

,Drug,Lineage,Percentage of Strains that are Resistant,Number of Resistant Strains,Number of Susceptible Strains,Total Isolates,Number_of_Lineages
0,amk,1,0.0,0,1,1,1.0
1,amk,1.1,0.0,0,1,1,1.0
2,amk,1.1.1,0.0,0,3,3,1.0
3,amk,"1.1.1,4.9",0.0,0,1,1,2.0
4,amk,1.1.1.1,0.0,0,3,3,1.0
...,...,...,...,...,...,...,...
2218,str,5,0.0,0,1,1,1.0
2219,str,6,0.0,0,1,1,1.0
2220,str,"6,BOV_AFRI",0.0,0,4,4,2.0
2221,str,BOV_AFRI,0.0,0,20,20,1.0
2222,str,NaN,0.0,0,8,8,0.0

In [8]:
# Get the primary lineage family
summarized_df['Primary Lineage Family'] = [str(long)[0:1] if ',' not in str(long) else 'None' if pd.isna(long) else 'Multiple' for long in summarized_df.Lineage]
summarized_df.loc[summarized_df['Primary Lineage Family'] == 'B', 'Primary Lineage Family'] = 'Bovine'
summarized_df.loc[summarized_df['Primary Lineage Family'] == 'n', 'Primary Lineage Family'] = 'None'

In [9]:
summarized_df

,Drug,Lineage,Percentage of Strains that are Resistant,Number of Resistant Strains,Number of Susceptible Strains,Total Isolates,Number_of_Lineages,Primary Lineage Family
0,amk,1,0.0,0,1,1,1.0,1
1,amk,1.1,0.0,0,1,1,1.0,1
2,amk,1.1.1,0.0,0,3,3,1.0,1
3,amk,"1.1.1,4.9",0.0,0,1,1,2.0,Multiple
4,amk,1.1.1.1,0.0,0,3,3,1.0,1
...,...,...,...,...,...,...,...,...
2218,str,5,0.0,0,1,1,1.0,5
2219,str,6,0.0,0,1,1,1.0,6
2220,str,"6,BOV_AFRI",0.0,0,4,4,2.0,Multiple
2221,str,BOV_AFRI,0.0,0,20,20,1.0,Bovine
2222,str,NaN,0.0,0,8,8,0.0,None

In [78]:
summarized_df.to_csv('/home/kin672/gentb-summer22/full_submission_data_7-24.csv', index = False)

In [10]:
# Simplify further
simplified_df = summarized_df.loc[:, ['Drug', 'Primary Lineage Family', 'Number of Resistant Strains', 'Number of Susceptible Strains','Total Isolates']].groupby(['Drug', 'Primary Lineage Family']).sum()

In [11]:
simplified_df['Proportion Resistant'] = simplified_df['Number of Resistant Strains']/simplified_df['Total Isolates']

In [97]:
simplified_df = simplified_df.reset_index()
simplified_df.to_csv('/home/kin672/gentb-summer22/submission_data_by_primary_lin_7-24.csv', index = False)